@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #E2E8F0;
}
li{
    list-style-type: none;
}
.contactinput{
    height: 52px;
    width: 100%;
    border-radius: 5px;
    padding-left: 12px;
    border: 1px solid teal;
}
textarea{
    width: 100%;
    height: 150px;
    padding: 12px 12px;
    border-radius: 5px;
    size-adjust: none;
    border: 1px solid teal;
}
